@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  background: url("../images/bg-desktop.svg") no-repeat #674baf;
  background-size: 90%;
}

header {
  margin: 55px 0px 80px 60px;
  font-family: 'Poppins', sans-serif;
}

header img {
  width: 240px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 50px 0px 70px;
}

main img {
  width: 140%;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 0px 50px 65px;
}

section h1 {
  font-size: 2.8vw;
  font-family: 'Poppins', sans-serif;
  color: white;
  margin: 0px 0px 20px 0px;
}

section p {
  font-size: 1.3vw;
  color: white;
  opacity: 0.8;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding-right: 35px;
}

section a {
  width: 29%;
  font-size: 1.3vw;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: none;
  color: #674baf;
  background-color: whitesmoke;
  padding: 15px 20px 15px 20px;
  margin: 20px 5px 20px 5px;
  border-radius: 100px;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}
section a:hover {
  color: white;
  background-color: #e882e8;
}

section a:focus-visible {
  opacity: 0.6;
}

.social {
  float: right;
  margin-right: 50px;
  margin-top: -5px;
}

.icons {
  width: 43px;
  margin-right: 6px;
  cursor: pointer;
}

.icons:hover {
  opacity: 0.7;
}

.icons:focus-visible {
  opacity: 0.5;
}

footer p {
  font-size: 0.95rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  color: wheat;
  font-weight: bold;
  word-spacing: 2px;
  cursor: pointer;
}

p a {
  color: orange;
  font-weight: 600;
  cursor: pointer;
}

p a:hover {
  text-decoration: none;
  color: red;
}

p a:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1140px) {
  header {
    margin: auto;
    padding: 30px;
  }
  header img {
    width: 150px;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    padding: 30px;
  }
  main img {
    width: 80%;
    margin: -20px auto;
  }
  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 50px auto;
    padding: 20px;
  }
  section h1 {
    font-size: 35px;
    text-align: center;
  }
  section p {
    font-size: 18px;
    text-align: center;
    padding: 0px;
  }
  section a {
    font-size: 1.9vw;
    padding: 15px 20px 15px 20px;
  }
  footer p {
    position: relative;
    top: 40px;
  }
}

@media screen and (max-width: 640px) {
  body {
    background: url("../images/bg-mobile.svg") no-repeat #674baf;
    background-size: 100%;
  }
  section h1 {
    font-size: 5vw;
  }
  section p {
    font-size: 2.9vw;
  }
  section a {
    padding: 12px 20px 12px 20px;
    font-size: 2.5vw;
    text-align: center;
  }
  .social {
    margin-top: -40px;
  }
  footer p {
    font-size: 2.9vw;
    line-height: 1.7;
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  main img {
    width: 100%;
  }
  section h1 {
    font-size: 6.5vw;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  section p {
    font-size: 3.93vw;
    text-align: center;
    margin: 0px 0px 10px 0px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  section a {
    width: 60%;
    font-size: 12px;
    padding: 10px;
    -webkit-box-shadow: 0px 3px 6px 0px black;
            box-shadow: 0px 3px 6px 0px black;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .social {
    width: 100%;
    text-align: center;
    margin: -30px auto;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .icons {
    width: 43px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}
/*# sourceMappingURL=main.css.map */