// Google fonts 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
// font-family: 'Poppins', sans-serif;
// font-family: 'Open Sans', sans-serif;

// Partial Files 
@import "_mixing";

// CSS Reset 
* {
    margin: 0;
    padding: 0;
}

// Body Design SCSS Code
body{
    margin: auto;
    background: url('../images/bg-desktop.svg') no-repeat hsl(257, 40%, 49%);
    background-size: 90%;
}

header{
    margin : 55px 0px 80px 60px;
    font-family: 'Poppins', sans-serif;
    img{
        width: 240px;
    }
}
main{
    display: flex;
    margin: 50px 50px 0px 70px;
    img{
        width: 140%;
    }
}
section{
    display: flex;flex-direction: column;
    margin: 50px 0px 50px 65px;
    h1{
        @include mainh1;
    }
    p{
        @include mainP;
    }
    a{
        @include anchor;
        &:hover{
            color: white;
            background-color: hsl(300, 69%, 71%);
        }
        &:focus-visible{
            opacity: 0.6;
        }
    }
}
.social{
    @include fosocial;
}
.icons{
    width: 43px;
    margin-right: 6px;
    cursor: pointer;
    &:hover{
        opacity: 0.7;
    }
    &:focus-visible{
        opacity: 0.5;
    }
}
.attribution{
    @include footerP;
    a{
        color: darkred;
        font-weight: 600;
        cursor: pointer;
        &:hover{
            text-decoration: none;
            color: red;
        }
        &:focus-visible{
            opacity: 0.5;
        }
    }
}
// Responsive webpage dektop & mobile version scss code
@media screen and (max-width: 1140px){
    header{
        margin: auto;
        padding: 30px;
        img{
            width: 150px;
        }
    }
    main{
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 30px;
        img{
            width: 80%;
            margin: -20px auto;
        }
    }
    section{
        @include flexBox(column, center, center);
        margin: 50px auto;
        padding: 20px;
        h1{
            font-size: 35px;
            text-align: center;
        }
        p{
            font-size: 18px;
            text-align: center;
            padding: 0px;
        }
        a{
            font-size: 1.9vw;
            padding: 15px 20px 15px 20px;
        }
    }
    .attribution{
        position: relative;
        top: 40px;
    }
}
@media screen and (max-width: 640px){
    body{
        background: url('../images/bg-mobile.svg') no-repeat hsl(257, 40%, 49%);
        background-size: 100%;
    }
    section{
        h1{
            font-size: 5vw;
        }
        p{
            font-size: 2.9vw;
        }
        a{
            padding: 12px 20px 12px 20px;
            font-size: 2.5vw;
            text-align: center;
        }
    }
    .social{
        margin-top: -40px;
    }
    .attribution{
        font-size: 2.9vw;
        line-height: 1.7;
        text-align: center;
    }
}
@media screen and (max-width: 450px){
    main{
        img{
            width: 100%;
        }
    }
    section{
        h1{
            @include sech1;
        }
        p{
            @include secP;
        }
        a{
            @include register;
        }
    }
    .social{
        @include footerSocial;
    }
    .icons{
        @include SocialIcon;
    }
}

